<% @page_title = "Calendar" %>
  <div ng-controller="CalendarController" class="navbar navbar-default" style="background-color:#FFFFFF;padding:5px 5px;" ng-init="setup_items(<%= Item::ALL.to_json %>);get_recent()">
    <%= render :partial => "common/nav_bar" %>
    <%= render :partial => "common/item_bar" %>
    <div class="streak-error">
      <p class="small text-muted bg-danger" ng-show="error">!ERROR: {{error}}</p>
    </div>
    <div>
      <button class="calendar-nav calendar-nav-left" ng-click="change_date(-1)"></button>
      <button class="calendar-nav calendar-nav-today" ng-click="change_date(0)"></button>
      <button class="calendar-nav calendar-nav-right" ng-click="change_date(1)"></button>
      <input streakalong-ng-date-picker type="hidden" value="" style="z-index:2;"></input>
      <span class="text-muted" style="vertical-align:top;padding-left:5px;">{{selected_date() | date : 'MMM yyyy'}}</span>
    </div>
    <div class="navbar navbar-default container-fluid">
      <div class="row">
        <div ng-repeat="rel_date in display_dates" streakalong-ng-droppable="{hoverClass: 'daydata-active'}" ng-class="{'col-sm-4 datebox default-border-color': true, 'hidden-xs':$last || $first, 'leftdatebox':$first, 'rightdatebox':$last, 'centerdatebox':!$first && !$last, 'today':is_today(rel_date)}">
          <div class="text-center text-muted default-border-color dayindicator">{{rel_date | date : 'EEE'}}</div>
          <div class="text-right text-muted dateindicator" style="padding-right:4px;"><small>{{rel_date | date : 'MMM d'}}</small></div>
          <div class="text-muted small" style="width:100%;height:100%" ng-if="!user_items[rel_date]" ng-init="get_user_items(rel_date)">
              <%= image_tag("/assets/indicator_large.gif") %>
          </div>
          <div ng-repeat="item in user_items[rel_date]" ng-if="item.amount != 0" class="daydata-container" ng-dblclick="process_amount('-1',item.item_id,rel_date)">
            <%= render :partial => "common/item_image", :locals => {:category => 'daydata', :type => '{{items[item.item_id]}}', :id => '{{item.item_id}}'} %>
            <div class="count text-center" title="click to edit" item-id="{{item.item_id}}" streakalong-ng-editable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/ng-template" id="streakalong-ng-editable-template">
    <span ng-hide="editorEnabled">{{item.amount}}</span>
    <form class="streakalong-edit" ng-show="editorEnabled">
      <input autocomplete="off" name="value" style="width:30px;" value="{{item.amount}}">
    </form>
  </script>
