      <div class="navbar navbar-default" id="items">
        <ul class="nav nav-tabs">
          <% Item.categorized.each do |category| %>
            <% category.each_key do |category_name| %>
              <li class="<%= if ("#{category_name}" == "#{UserPreference.items_tab(session)}"); 'active'; end %>"><a href="#<%=category_name%>" data-toggle="tab"><%=category_name%></a></li>
            <% end %>
          <% end %>
        </ul>
        <div class="tab-content">
        <% Item.categorized.each do |category| %>
          <% category.each_pair do |category_name,list| %>
            <div class="tab-pane <%= if ("#{category_name}" == "#{UserPreference.items_tab(session)}"); 'active'; end %>" id="<%=category_name%>">
            <% list.each do |item_type| %>
              <span ng-dblclick="update_amount(1,<%= Item.id(item_type) %>, selected_date())">
              <%= render :partial => "common/item_image", :locals => {:category => category_name, :type => item_type, :id => Item.id(item_type)} %>
              </span>
            <% end %>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
