      <div class="navbar navbar-default" id="items">
        <ul class="nav nav-tabs">
          <% Item.categorized_items.each do |category| %>
            <% category.each_key do |category_name| %>
              <li streakalong-ng-preference='<%= @user.preferences.item_tab_setting_for(category_name).to_json %>'
            ng-class="{'active':(preferences.item_tab == '<%= category_name %>')}">
                    <a href="#<%=category_name%>" data-toggle="tab"><%=category_name%></a>
              </li>
            <% end %>
          <% end %>
        </ul>
        <div class="tab-content">
        <% Item.categorized_items.each do |category| %>
          <% category.each_pair do |category_name,list| %>
            <div class="tab-pane <%= if (true == @user.preferences.preferredTab?(category_name)); 'active'; end %>" id="<%=category_name%>">
            <% list.each do |item_type| %>
              <span
                ng-dblclick="(false == is_touch) && process_amount('+1',<%= Item.id(item_type) %>, selected_date())"
                ng-click="(true == is_touch) && process_amount('+1',<%= Item.id(item_type) %>, selected_date())"
                <%= if (Preference::RECENT == category_name); "ng-if=is_recent(#{Item.id(item_type)})"; end %>>
              <%= render :partial => "common/item_image", :locals => {:category => category_name, :type => item_type, :id => Item.id(item_type)} %>
              </span>
            <% end %>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
