<% if (true == Rails.env.development?) %>
  <% minified = "" %>
<% else %>
  <% minified = ".min" %>
<% end %>

<% versions = {
  :angular => "1.5.7",
  :underscore => "1.8.3",
  :bootstrap  => "3.3.7"
}
%>
<% stylesheet_libraries = [
  "https://maxcdn.bootstrapcdn.com/bootstrap/#{versions[:bootstrap]}/css/bootstrap#{minified}.css",
  "https://maxcdn.bootstrapcdn.com/bootstrap/#{versions[:bootstrap]}/css/bootstrap-theme#{minified}.css",
  "https://code.jquery.com/ui/1.10.4/themes/cupertino/jquery-ui#{minified}.css",
  "application"
]
%>
<% javascript_libraries = [
  "//code.jquery.com/jquery-2.1.1#{minified}.js",
  "//cdnjs.cloudflare.com/ajax/libs/underscore.js/#{versions[:underscore]}/underscore#{minified.gsub('.','-')}.js",
  "https://code.jquery.com/ui/1.11.0/jquery-ui#{minified}.js",
  "https://maxcdn.bootstrapcdn.com/bootstrap/#{versions[:bootstrap]}/js/bootstrap#{minified}.js",
  "https://ajax.googleapis.com/ajax/libs/angularjs/#{versions[:angular]}/angular#{minified}.js",
  "https://ajax.googleapis.com/ajax/libs/angularjs/#{versions[:angular]}/angular-resource#{minified}.js",
  "https://bouil.github.io/angular-google-chart/ng-google-chart.js",
  "application"
]
%> 
<!DOCTYPE html>
<html ng-app="Streakalong">
<head>
  <meta name="description" content="StreakAlong helps keep you healthy. Keep track of what you enjoy with a simple calendar and icon interface." />
  <meta name="viewport" content="width=device-width" />
  <link rel="shortcut icon"  type="image/x-icon" href="/favicon.ico">
  <title>Streak Along : <%= @page_title %> - Helping you stay healthy.</title>
  <% angular_version = "1.5.7" %>
  <% underscore_version = "1.8.3" %>


  <% stylesheet_libraries.each do |library| %>
    <%= stylesheet_link_tag "#{library}", :media => "all" %>
  <% end %>
  <% javascript_libraries.each do |library| %>
    <%= javascript_include_tag "#{library}" %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if (true == Rails.env.development?) %>
    <%= javascript_tag("jQuery.development = true;") %>
  <% end %>
  <div id="main">
    <div class="container">
<%= yield %>
    </div>
  </div>
  <%= javascript_tag("
    jQuery(document).ready(
      function() {
        FastClick.attach(document.body);
      })
    ") %>
  <%= javascript_tag("
    jQuery(document).ready(
      function() {
        var old_gotoToday = jQuery.datepicker._gotoToday;
        jQuery.datepicker._gotoToday = function(id) {
          old_gotoToday.call(this,id);
          this._selectDate(id);
        };
        FastClick.attach(document.body);
      })
    ") %>
</body>
</html>
