<!DOCTYPE html>
<html ng-app="Streakalong">
<head>
  <meta name="description" content="StreakAlong helps keep you healthy. Keep track of what you enjoy with a simple calendar and icon interface." />
  <meta name="viewport" content="width=device-width" />
  <link rel="shortcut icon"  type="image/x-icon" href="/favicon.ico?version=3">
  <title>Streak Along : <%= @page_title %> - Helping you stay healthy.</title>

  <%= render :partial => "common/header/header_includes" %>
  <%= javascript_include_tag("application") %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if (true == Rails.env.development?) %>
    <%= javascript_tag("jQuery.development = true;") %>
  <% end %>
  <div id="main">
    <div class="container">
<%= yield %>
    </div>
  </div>
  <%= javascript_tag("
    jQuery(document).ready(
      function() {
        FastClick.attach(document.body);
      })
    ") %>
</body>
</html>
